.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 100px;
  gap: 10px;
  width: 100%;
}
.item {
  background-color: aqua;
  border: solid black 1px;
  width: 100px;
}
.a {
  justify-self: start;
}
.b {
  justify-self: center;
}
.c {
  justify-self: right;
}
.d {
  justify-self: end;
}
/*
----
*/
.parent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 100px;
  gap: 10px;
  width: 100%;
  justify-items: center;
}
.child {
  background-color: gray;
  border: solid 1px black;
  width: 50%;
}
