.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  row-gap: 10px;
  column-gap: 10px;
  font-size: 40px;
  text-align: center;
}
.box {
  padding: 100px;
  background-color: palevioletred;
  border-radius: 10px;
}
.a {
  grid-column-start: 1;
  grid-column-end: 3;
}
.b {
  grid-column: 3/3;
  grid-row: 1/3;
}
